@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --roxo: #9E6EFE;
    --roxo-claro:#9E6EFE3D;
    --roxo-claro2: #9E6EFE0F;

    --verde: #0BB07B;
    --verde-claro: #0BB07B0F;

    --vermelho: #F03D3D;
    --vermelho-claro: #F03D3D0F;

    --preto: #272727;
    --branco: #FFFFFF;

    --cinza: #6A6969;
    --cinza-claro: #F3F4F8;

    --principal: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: var(--cinza-claro);
    font-family: var(--principal);
}

/* ---Header--- */

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
}

/* menu */

aside.menu{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--branco);
    width: 220px;
    height: 100%;
    box-shadow: 1px 0px 2px #8080804b;
    border-radius: 7px;
}

aside.menu nav.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
    padding: 20px;
}

aside.menu nav.sidebar button{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    font-family: var(--principal);
}

aside.menu nav.sidebar button:hover{
    transition: 7ms;
    border-radius: 4px;
    background-color: var(--cinza-claro);
}

aside.menu nav.sidebar button a:hover, aside.menu nav.sidebar button i:hover{
    color: var(--roxo);
}

aside.menu nav.sidebar button i{
    color: var(--preto);
}

aside.menu nav.sidebar button a{
    color: var(--preto);
    font-size: 1.2em;
}

aside.menu-active{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--branco);
    width: 80px;
    height: 100%;
    box-shadow: 1px 0px 2px #808080;
}

aside.menu-active nav.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
    padding: 20px;
}

aside.menu-active nav.sidebar button{
    cursor: pointer;
    display: block;
    background-color: transparent;
    border: none;
    padding: 10px;
}

aside.menu-active nav.sidebar button#active{
    background-color: var(--cinza-claro);
    border-radius: 4px;
}

aside.menu-active nav.sidebar button:hover{
    transition: 7ms;
    border-radius: 4px;
    background-color: var(--cinza-claro);
}

aside.menu-active nav.sidebar button i{
    color: var(--preto);
}

aside.menu-active nav.sidebar button#active i{
    color: var(--roxo); 
}

aside.menu-active nav.sidebar button a{
    display: none;
}

button.button-menu{
    display: none;
}

button.button-close{
    display: none;
}

hr{
    width: 100%;
}

div.funcoes_mobile{
    display: none;
}

/* ---Main--- */

main{
    padding-top: 20px;
    padding-left: 240px;
    padding-right: 6px;
    width: 100%;
    height: 100%;
    display: block;
}

main section.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div.funcoes{
    display: flex;
    align-items: center;
    gap: 20px;
}

div.funcoes i{
    cursor: pointer;
}

div.funcoes img{
    cursor: pointer;
    width: 25px;
}

div.usuario p{
    color: var(--cinza);
}

section.grafico_historico{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    margin: 0 20px;
}

/* grafico do main */

section.grafico{
    background-color: white;
    margin: 20px auto;
    border-radius: 4px;
    padding: 10px;
    width: 70%;
}

section.grafico h3{
    text-align: left;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

section.grafico div.dados{
    display: flex;
    flex-direction: row;
    align-items: inherit;
    justify-content: space-around;
    padding: 10px;
}

section.grafico div.valores{
    margin-bottom: 20px;
}

section.grafico div.valores p{
    margin-bottom: 10px;
}

section.grafico div.barras{
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    justify-content: space-around;
    gap: 10px;
}

section.grafico div.barras div{
    display: flex;
    flex-direction: column-reverse;
}

section.grafico div.barras span{
    display: block;
    width: 20px;
    height: 100px;
    background-color: var(--roxo-claro);
    border-radius: 5.3px;
}

section.grafico div.barras span.fev{
    height: 30px;
}

section.grafico div.barras span.mar{
    height: 90px;
}

section.grafico div.barras span.abr{
    height: 110px;
}

section.grafico div.barras span#jun{
    height: 120px;
}

section.grafico div.barras span#jul{
    height: 150px;
}

section.grafico div.barras span#ago{
    height: 50px;
    background-color: var(--roxo);
}

section.grafico div.barras span:hover{
    cursor: pointer;
    background-color: var(--roxo);
}

section.historico{
    background-color: white;
    margin: 20px auto;
    border-radius: 4px;
    padding: 10px;
    width: 70%;
}

section.historico h3{
    text-align: left;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

section.grafico_historico section.historico span{
    display: flex;
    justify-content: space-between;
    background-color: var(--roxo-claro2);
    color: var(--roxo);
    margin: 10px;
    padding: 10px;
}

section.detalhes{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 20px;
}

section.detalhes div{
    background-color: var(--branco);
    padding: 15px;
    border-radius: 7px;
    width: 100%;
}

section.detalhes div p.valor{
    font-weight: bold;
    font-size: 1.2em;
}

section.detalhes div span{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 7px;
    width: 100px;
    background-color: var(--verde-claro);
    color: var(--verde);
}

section.detalhes div span.red{
    background-color: var(--vermelho-claro);
    color: var(--vermelho);
}

@media (width > 1400px){
    section.grafico{
        width: 45%;
    }

    section.historico{
        width: 45%;
    }
}

/* mobile */

@media (width < 450px){
    body{
        margin: 10px;
    }

    section.grafico{
        width: 100%;
    }

    section.grafico div.barras div.ago{
        display: none;
    }

    section.grafico div.barras div.mai{
        display: none;
    }

    section.grafico div.barras div.jun{
        display: none;
    }

    section.historico{
        width: 100%;
    }

    section.historico span{
        flex-direction: column;
    }
}

@media (width < 800px){
    button.button-menu{
        cursor: pointer;
        display: block;
        background: transparent;
        border: none;
        padding: 15px 10px;
        font-size: 20px;
    }
    
    button.button-close{
        cursor: pointer;
        display: block;
        background: transparent;
        border: none;
        color: var(--preto);
        font-size: 20px;
        padding: 15px 10px;
    }

    aside.menu-active nav.sidebar button i:hover{
        color: var(--roxo);
    }
    
    aside.menu{
        display: none;
    }
    
    aside#aside nav.sidebar img{
        display: none;
    }

    div.funcoes_mobile{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    div.funcoes_mobile i{
        cursor: pointer;
    }
    
    div.funcoes_mobile img{
        cursor: pointer;
        width: 25px;
    }

    main{
        margin: 0;
        padding: 0;
        display: block;
    }

    main div.funcoes{
        display: none;
    }

    section.grafico_historico{
        display: block;
    }

    section.grafico div.dados{
        display: flex;
        flex-direction: row;
        align-items: inherit;
        justify-content: space-between;
        padding: 30px;
    }

    section.grafico div.barras{
        gap: 15px;
    }

    section.grafico div.barras div.fev{
        display: none;
    }
    
    section.grafico div.barras div.mar{
        display: none;
    }
}

@media screen and (max-width: 900px){
    section.detalhes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin: 0 17vw;
    }
}