@media screen and (max-width: 980px) {

    .conteudo1 {
        flex-direction: column;
        height: 70vh;
    }

    .conteudo1 .info .conteudo1-info-2{
        justify-content: flex-start;
    }

    .conteudo1 img {
        display: none;
    }

    .conteudo2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .conteudo2 img {
        display: none;
    }

    .conteudo3 {
        flex-direction: column;
    }

    .conteudo3 p {
        width: 400px;
        text-align: center;
        margin: 20px;
    }

    .conteudo3 .imagens {
        flex-direction: column;
    }

    .conteudo3 .imagens img {
        width: 40vw;
        height: 40vh;
    }

    .conteudo4 p{
        text-align: center;
    }

    .conteudo4 button{
        width: 80%;
    }

    /* Menu */
    .nav-list {
        position: fixed;
        top: 12vh;
        right: 0;
        width: 40vw;
        height: 100%;
        background: var(--cinza2);
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li.icones {
        display: none;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 20;
    }

    .nav-list a:hover {
        color: #FFFFFF;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .conteudo-footer .home{
        display: none;
    }

    .conteudo-footer{
        align-content: flex-end;
    }
}