@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    margin: 10px;
}

header h1{
    color: #D2872C;
    font-size: 1.9em;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 20px;
    margin: 5px;
}

header nav a{
    color: #766F68;
    font-size: 1.3em;
}

.menu-icon{
    width: 30px;
    cursor: pointer;
    display: none;
}

main{
    margin: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    gap: 2px;
}

div#conteudo{
    font-size: 20px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

main h2{
    font-size: 60px;
}

.cinza{
    color: #766F68;
}

main img{
    width: 60%;
}

main img, #conteudo{
    display: flex;
    flex-direction: row;
    align-items: right;
}

main #botao{
    width: 200px;
    height: 50px;
    color: white;
    font-size: 1.3em;
    background-color: #D2872C;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    margin: auto;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.514);
}

main #botao:hover{
    transition: 1.7ms;
    background-color: #766F68;
}

@media (max-width: 950px){

    header{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        gap: 2px;
    }

    nav a{
        display: none;
    }

    .menu-icon{
        display: block;
    }

    main{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        column-gap: 10px;
    }

    main h2{
        font-size: 30px;
    }

    main h2, p{
        text-align: center;
    }
    
    main img{
        width: 60%;
        margin: auto;
    }

}